
body {
  background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
}

#container {
margin-bottom: 200px;
}

top {
  height: 1%;
  margin: auto;
  padding: 1%;
}

h1 {
  font-size: 64px;
  color: rgba(253, 251, 251, 0.863);
  text-align: center;
  text-decoration: underline;
  text-shadow: 1px 1px black;
}

#instructions-header {
  font-size: 30px;
}

.instructions {
width: 40%;
color:rgba(253, 251, 251, 0.863);
font-size: 20px;
text-shadow: 1px 1px black;
margin-left: 10px;
}

#answerList {
  color:rgba(253, 251, 251, 0.863);
  font-size: 20px;
  text-shadow: 1px 1px black;
  margin-left: 10px;
  }

#score{
  font-size: 30px;
  position: left;
  color: rgba(253, 251, 251, 0.863);
  text-shadow: 1px 1px black;
  margin-left: 10px;
}


#answerBar {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  text-transform: uppercase;
}
#submission {
  color: white;
  letter-spacing: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 15px;
  margin-bottom: 50px;
}


.button {
  margin-left: 2px;
  margin-right: 2px;
  background-color: transparent; /* Green */
  border: 1px solid #062821;
  border-radius: 10px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  text-shadow: 1px 1px black;
  }

#line2 {
  display: flex;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
}

#line4 {
  display: flex;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
}

.puzzleLetter {
  margin: auto;
  width: 76px;
  border: 3px solid #062821;
  text-align: center;
  padding: 20px 0;
  font-size: 36px;
  background-color: rgba(253, 251, 251, 0.863);
  border-radius: 10px;
  transition: all 1s;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#letterC {
  background-color: yellow;
  margin: auto;
  width: 76px;
  border: 3px solid #062821;
  text-align: center;
  padding: 20px 0;
}

#guess {
  min-width:10%;
  height: 30px;
  background-color:#d3d3d3;
  border: 1px solid #062821;

}

#newPuzzle {
  background-color: rgba(80, 2, 80, 0.966); /* Green */
border: 1px solid #062821;
border-radius: 10px;
color: white;
padding: 10px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
text-shadow: 1px 1px black;
margin-bottom: 300px;
}




