.banner-box {
  max-width: 800px;
  border-radius: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
  background-color: rgba(122, 7, 46, 0.3);
  backdrop-filter: blur(4px);
  animation: bannerPulse 1.5s ease-out;
}

.banner-text {
  font-size: 4rem;
  text-align: center;
  color: yellow;
  padding: 3rem 5rem;
  margin: 0;
  text-transform: uppercase;
  animation: bannerPulse 1.5s ease-out;
}

@keyframes bannerPulse {
  0% { transform: scale(0.8); opacity: 0; }
  20% { transform: scale(1.05); opacity: 1; }
  100% { transform: scale(1); opacity: 1; }
}

@media screen and (max-width: 500px) {
  .banner-box {
    max-width: 300px;
  }
  .banner-text {
    font-size: 2.5rem;
    padding: 2rem 3rem;
  }
}
